a.nav-link.active{
    background: #ddd;
}

td.egreso, th.egreso{
    text-align: right;
    color: red;
}

td.ingreso, th.ingreso{
    text-align: right;
}

div.ingreso{
    font-weight:bold;
    color: yellow;
    background-color: green;
    padding:2px;
    text-align: center;
    width: 25px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
}

div.egreso{
    font-weight:bold;
    color: yellow;
    background-color: red;
    padding:2px;
    text-align: center;
    width: 25px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
}
